:root {
    color-scheme: light dark;
    color: #ffffff;
    background-color: #5E60CE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}