.login__button {
    all: unset;
    background-color: #4EA8DE;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    width: 10%;
}

.login__button:hover {
    opacity: 0.8;
}

.login__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
}

.login__label {
    margin: 0.25rem;
}

.login__input {
    all: unset;
    border: 1px solid black;
    background-color: #5E60CE;
    margin: 0.25rem;
    padding: 0.5rem;
    text-align: center;
}

.login__title {
    color: #64DFDF;
    margin: 1rem;
}
